@font-face {
    font-family: poppins;
    src: url(../public/fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: foregen;
    src: url(../public/fonts/the-foregen-rough-one.regular.ttf);
}

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.bg-dhurata{
    background-image: url(./Components/Assets/personalized.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-buqeta{
    background-image: url(./Components/Assets/personalized2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-dekore{
    background-image: url(./Components/Assets/decor3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-ditelindje{
    background-image: url(./Components/Assets/decor4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-eventDesign{
    background-image: url(./Components/Assets/event-design.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-contentOne{
    background-image: url(./Components/Assets/wall.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-content{
    background-image: url(./Components/Assets/contentOne.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-myWebsite{
    background-image: url(./Components//Assets/decorative-heart.jpg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}

@keyframes moveLeftRight {
    0%, 100% {
      transform: translateX(0); 
    }
    50% {
      transform: translateX(10%);
    }
  }
  
  .moving-text {
    animation: moveLeftRight 5s linear infinite; /* Animacioni më i ngadalshëm */
    white-space: nowrap;
    width: fit-content /* Gjerësia e dyfishuar e dritares për të lëvizur në të dy anët */
  }
  
  
  