@font-face {
    font-family: poppins;
    src: url(../public/fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: foregen;
    src: url(../public/fonts/the-foregen-rough-one.regular.ttf);
}

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';