@font-face {
    font-family: poppins;
    src: url(../public/fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: nunito;
    src: url(../public/fonts/Nunito-SemiBold.ttf);
}

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';